.Rproj.user
.Rhistory
.RData
.Ruserdata
Videos

Practicals/*_cache/
Practicals/*_files/

Slides/test.*

Slides/workspaces/JointAI_surv.RData
Slides/workspaces/JointAI_nonlin.RData
Slides/workspaces/JointAI_long.RData

Slides/data/SAS/

website/static/slide/EP16_MultipleImputation_2020.zip
website/static/practical/EP16_MultipleImputation_2020_data.zip
website/static/practical/EP16_MultipleImputation_2020_imps.zip
