.Rproj.user
.Rhistory
.RData
.Ruserdata
Practicals/MICE/.gitignore
Practicals/Quiz_PartI/.gitignore
Practicals/MIadvanced/.gitignore
MI Course Outline.docx
ChangesFor2019.txt
MCMCjomoglmbinB.dll
MCMCjomolmB.dll
jomoglmbinB.dll
jomolmB.dll
data/SAS
