figure
graphics/spss/Thumbs.db
graphics/Thumbs.db
graphics/squeeze_plot1_files
cache
datafile.txt
importsyntax.sps
MICourse_Slides-concordance.tex
MICourse_Slides.111.vrb
MICourse_Slides.113.vrb
MICourse_Slides.140.vrb
MICourse_Slides.142.vrb
MICourse_Slides.143.vrb
MICourse_Slides.144.vrb
MICourse_Slides.145.vrb
MICourse_Slides.171.vrb
MICourse_Slides.172.vrb
MICourse_Slides.5.vrb
MICourse_Slides.58.vrb
MICourse_Slides.6.vrb
MICourse_Slides.89.vrb
MICourse_Slides.bbl
MICourse_Slides.blg
MICourse_Slides.log
MICourse_Slides.nav
MICourse_Slides.snm
MICourse_Slides.synctex.gz
MICourse_Slides.tex
MICourse_Slides.toc
MICourse_Slides.vrb
MICourse_Slides.146.vrb
MICourse_Slides.173.vrb
MICourse_Slides.119.vrb
MICourse_Slides.141.vrb
MICourse_Slides.170.vrb
MICourse_Slides.19.vrb
MICourse_Slides.21.vrb
MICourse_Slides.3.vrb
MICourse_Slides.38.vrb
MICourse_Slides.4.vrb
MICourse_Slides.48.vrb
MICourse_Slides.90.vrb
MICourse_Slides.92.vrb
