MICourse_beamer-concordance.tex
MICourse_beamer.4.vrb
MICourse_beamer.5.vrb
MICourse_beamer.bbl
MICourse_beamer.log
MICourse_beamer.nav
MICourse_beamer.snm
MICourse_beamer.synctex.gz
MICourse_beamer.tex
MICourse_beamer.toc
MICourse_beamer.vrb
figure
graphics/spss/Thumbs.db
graphics/Thumbs.db
cache
datafile.txt
importsyntax.sps
MICourse_beamer.128.vrb
MICourse_beamer.129.vrb
MICourse_beamer.80.vrb
MICourse_beamer.82.vrb
MICourse_beamer.115.vrb
MICourse_beamer.116.vrb
MICourse_beamer.3.vrb
MICourse_beamer.67.vrb
MICourse_beamer.79.vrb
MICourse_beamer.19.vrb
MICourse_beamer.21.vrb
MICourse_beamer.133.vrb
MICourse_beamer.134.vrb
MICourse_beamer.135.vrb
MICourse_beamer.136.vrb
MICourse_beamer.18.vrb
MICourse_beamer.20.vrb
MICourse_beamer.22.vrb
MICourse_beamer.81.vrb
MICourse_beamer.83.vrb
MICourse_beamer.84.vrb
MICourse_beamer.85.vrb
MICourse_beamer.23.vrb
MICourse_beamer.24.vrb
MICourse_beamer.45.vrb
MICourse_beamer.46.vrb
MICourse_beamer.47.vrb
MICourse_beamer.48.vrb
MICourse_beamer.49.vrb
MICourse_beamer.50.vrb
MICourse_beamer.51.vrb
MICourse_beamer.137.vrb
MICourse_beamer.163.vrb
MICourse_beamer.164.vrb
MICourse_beamer.66.vrb
MICourse_beamer.68.vrb
MICourse_beamer.95.vrb
MICourse_beamer.138.vrb
MICourse_beamer.139.vrb
MICourse_beamer.140.vrb
MICourse_beamer.165.vrb
MICourse_beamer.166.vrb
MICourse_beamer.167.vrb
MICourse_beamer.86.vrb
MICourse_beamer.87.vrb
MICourse_beamer.88.vrb
MICourse_beamer.130.vrb
MICourse_beamer.70.vrb
MICourse_beamer.97.vrb
MICourse_beamer.69.vrb
MICourse_beamer.7.vrb
MICourse_beamer.8.vrb
MICourse_beamer.blg
