MICourse_beamer-concordance.tex
MICourse_beamer.4.vrb
MICourse_beamer.5.vrb
MICourse_beamer.bbl
MICourse_beamer.log
MICourse_beamer.nav
MICourse_beamer.snm
MICourse_beamer.synctex.gz
MICourse_beamer.tex
MICourse_beamer.toc
MICourse_beamer.vrb
figure
graphics/spss/Thumbs.db
graphics/Thumbs.db
cache
datafile.txt
importsyntax.sps
MICourse_beamer.128.vrb
MICourse_beamer.129.vrb
MICourse_beamer.80.vrb
MICourse_beamer.82.vrb
MICourse_beamer.115.vrb
MICourse_beamer.116.vrb
MICourse_beamer.3.vrb
MICourse_beamer.67.vrb
MICourse_beamer.79.vrb
MICourse_beamer.19.vrb
MICourse_beamer.21.vrb
